<!DOCTYPE html>
<html>
<head>
  <title>Atlys mobile app</title>
  <%= stylesheet_link_tag    "atlys_mobile_app/application", media: "all" %>
  <%= javascript_include_tag "atlys_mobile_app/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
