<div class="col s12 m-bottom-15">
	<div class="col s12">
		<h5 class="xl-font upcase indigo-text text-accent-1 thin">Android App Build</h5>
	</div>
</div>


<div class="row">

        <div class="input-field col s6">
          <input placeholder="Placeholder" id="appname" type="text" class="validate">
          <label for="appname">App Name</label>
        </div>


	<div class="file-field input-field">
      <div class="btn">
        <span>App Icon (1024x1024)</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>



</div>
