<div class="col s12 m-bottom-15">
	<div class="col s12">
		<h5 class="xl-font upcase indigo-text text-accent-1 thin">Android App Build</h5>
	</div>
</div>


<%= form_tag atlys_mobile_app.android_create_path, multipart: true, class: 'row' do %>


        <div class="input-field col s6">
          <input placeholder="Channel App" name="appname" value="Awesome Channel" id="appname" type="text" class="validate">
          <label for="appname">App Name</label>
        </div>

	<div class="input-field col s6">
          <input placeholder="mychannelapp" name="packagename" value="awesomechannel" id="packagename" type="text" class="validate">
          <label for="packagename">Package Name</label>
        </div>

	<div class="input-field col s6">
          <input placeholder="Android Build Name" name="buildname" value="1.0" id="buildname" type="text" class="validate">
          <label for="buildname">Android Build Number</label>
        </div>

	<div class="input-field col s6">
          <input placeholder="Android Version Code" name="buildversion" value="1" id="buildversion" type="text" class="validate">
          <label for="buildversion">Android Version Code</label>
        </div>

	<div class="input-field col s6">
          <input placeholder="Channel Domain" name="domain" value="http://channel.com" id="domain" type="text" class="validate">
          <label for="domain">Channel Domain</label>
        </div>


	<div class="file-field input-field col s6">
      <div class="btn">
        <span>App Icon (1024x1024)</span>
        <input type="file" name="icon">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

		<%= submit_tag "Build Android App", class: 'btn' %>

<% end %>
